body{
  background-color: rgb(166, 96, 232);
  overflow: hidden;

}
.principal-container{
  display: flex;
  align-items: center;
  height: 100vh; 
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}